/* normal css varibales
:root {
    --primary-color: #272727;
    --accent-color: #ff652f;
    --text-color: #fff;
}
*/

// sass varibales
$primary-color: #272727;
$accent-color: #ff652f;
$text-color: #fff;

//map
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

body {
    background: $primary-color;
    color: $text-color;
}

//nesting
.main {
    width: 80%;
    margin: 0 auto;

    #{&}_paragraph {
        font-weight: map-get($font-weights, bold );

        &:hover {
            color: #1fafc2;
        }
    }
}