@import './resets';
@import './variables';

// function
@function weight($weight-name){
    @return map-get($font-weights, $weight-name);
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme($light-theme: true){
    @if $light-theme{
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}

@mixin mobile{
    @media (max-width: $mobile){
        @content;
    }
}

body {
    background: $primary-color;
    color: $text-color;
}

//nesting
.main {
    @include flexCenter(row);
    width: 80% - 40%;
    margin: 0 auto;

    #{&}_paragraph1 {
        font-weight: map-get($font-weights, bold );

        &:hover {
            color: #1fafc2;
        }
    }

    #{&}_paragraph2{
        @extend .main_paragraph1;

        &:hover {
            color: $accent-color;
        }
    }

    @include mobile{
        flex-direction: column;
    }
}

.light {
    @include theme($light-theme: true);
}

.footer {
    width: 80%;
    margin: 0 auto;

    #{&}_para {
        font-weight: weight(regular);
        text-align: center;
    }
}